@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 10px;
  height: 10px;
}

.section-title {
  margin: 3em 0 2em 0;
  text-align: center;
  font-family: "Varela Round";
  font-size: 1.3rem;
  letter-spacing: 0.05em;
}

.section-title h4 {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.section-subtitle {
  margin: 2em 0 2em 0;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.4rem;
}

.section-subtitle h5 {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.9);
}

.section-title .title-design-shape {
  width: 8%;
  height: 6px;
  background: linear-gradient(45deg, #b20030 0%, #8d0018 92%) !important;
  border-radius: 3px;
  display: block;
  margin: 2em auto;
  position: relative;
}

.section-title .title-design-shape:before {
  position: absolute;
  left: 0;
  top: -80%;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #b20030;
  z-index: 999;
  animation: titleBall 5s ease-in-out 0s infinite alternate;
}

@keyframes titleBall {
  0% {
    left: 0;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 0;
  }
}

body {
  background: rgba(0, 0, 0, 1);
}

.home-section {
  height: 100vh;
  width: 100%;
}

.home-section .home-background {
  width: 100%;
  height: 100%;
  background: url(../assets/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  position: relative;
}

.home-section .home-background::before {
  position: absolute;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 75%,
    #000000 100%
  );
  width: 100%;
  height: 100%;
}

.navbar nav {
  background: transparent;
  box-shadow: none;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  font-family: "Varela Round" !important;
}

.navbar .sidenav {
  background: #222;
  z-index: 9999;
}

/* .active {
  background: #b20030;
  border-radius: 0 0 2px 2px;
  height: 8px;
  font-weight: bolder;
} */

.navbar .sidenav li > a {
  margin: 1em 0;
  padding: 0 20px;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.navbar .sidenav li > a > i {
  margin-right: 20px;
  font-size: 1.7em;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.navactive {
  background: rgba(0, 0, 0, 0.7) !important;
  position: fixed;
}

.navbar nav ul {
  text-align: center;
}

.navbar nav ul li {
  display: inline;
  float: none;
}

.navbar nav ul li a {
  display: inline-block;
  padding: 0 1.5rem;
}

.navbar nav ul li .btn {
  text-align: right;
}

.home-section .home-background .home-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.home-section .home-background .home-info h1 {
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.8rem;
  font-weight: 400;
  font-family: "Varela Round";
  font-size: 5.5rem;
}

.home-section .home-background .home-info p {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
  margin-bottom: 24px;
  font-family: "Poppins";
  font-size: 1.1rem;
  letter-spacing: 0.1em;
}

.home-section .home-background .home-info .home-info-btn a {
  margin: 0.5rem 1.2rem;
  border-radius: 5px;
  text-transform: none;
  background: #b20030;
  font-family: "Poppins";
  font-weight: 600;
}

.about-section {
  margin: 5em 0;
}

.about-section .about-section-info {
  margin-bottom: 32px;
}

.about-section .about-section-info p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 1em 0;
  font-weight: 550;
  font-family: "Poppins";
}

.about-section .counter-section {
  float: none;
  margin: 0 auto;
  margin: 32px 0 0 0;
  padding: 3rem 2rem;
  background: #b20030;
}

.about-section .counter-section .row {
  margin-bottom: 0;
}

.counter-box {
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  padding: 1.5em;
  background: #b20030;
  box-shadow: inset 5px 5px 10px #9b002a, inset -5px -5px 10px #c90036;
}

.counter-box i {
  font-size: 3em;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.counter-box .count-num {
  display: block;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.05em;
  font-size: 1.7rem;
  font-family: "Varela Round";
}

.counter-box .count-title {
  display: block;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Varela Round";
}

.application-section {
  height: 70vh;
  width: 100%;
}

.application-section .application-background {
  width: 100%;
  height: 100%;
  background: url(../assets/img/application_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  position: relative;
}

.application-section .application-background::before {
  position: absolute;
  content: "";
  background: linear-gradient(
    180deg,
    #000 0%,
    rgba(0, 0, 0, 0.3) 50%,
    #000000 100%
  );
  width: 100%;
  height: 100%;
}

.application-section .application-background .application-section-info {
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.application-section .application-background .application-section-info h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.5rem;
  font-family: "Varela Round";
}

.team-section {
  margin: 5em 0;
}

.team-section .team-card {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.team-section .col {
  margin: 0;
}

.team-section .team-card {
  width: 100%;
  height: 250px;
}

.team-section .team-card .team-card-img {
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.team-section .team-card img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.team-section .team-card .team-card-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.team-section .team-card .team-card-info h6 {
  color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 1px 4px #000);
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Varela Round";
}

.team-section .team-card .team-card-info h4 {
  color: rgba(255, 255, 255, 1);
  filter: drop-shadow(1px 1px 4px #000);
  font-size: 1.6rem;
  margin-top: 1rem;
  font-weight: bold;
  font-family: "Varela Round";
}

.team-section .team-card:hover .team-card-img {
  cursor: pointer;
  transform: scale(1.3);
}

.team-section .team-card:hover .team-card-img::after {
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  will-change: opacity;
}

.modal {
  background: #222;
  border-radius: 20px;
  overflow-y: auto;
  max-height: 85vh !important;
}

.modal .modal-content {
  padding: 0;
}

.modal .modal-content .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.modal .modal-content .modal-img {
  width: 100%;
  height: 420px;
}

.modal .modal-content .modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal .modal-content .modal-content-info {
  padding: 1em 2em;
}

.modal .modal-content .modal-content-info h6 {
  color: rgba(255, 255, 255, 1);
  font-family: "Varela Round";
  font-size: 1.2rem;
  margin-bottom: 0.7em;
  text-transform: uppercase;
}

.modal .modal-content .modal-content-info h4 {
  color: rgba(255, 255, 255, 1);
  font-family: "Varela Round";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.7em;
}

.modal .modal-content .modal-content-info p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.2rem;
}

.faq-section {
  margin: 5em 0;
}

.faq-section .section-subtitle {
  margin-top: 3em;
}

.faq-section .collapsible {
  border: none;
}

.faq-section .collapsible > li {
  margin: 1em 2em;
}

.faq-section .collapsible .collapsible-header {
  display: flex;
  justify-content: space-between;
  background: #222;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 1.3em 1em;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 0.03em;
}

.faq-section .collapsible .collapsible-header .row {
  margin: 0;
  width: 100%;
}

.faq-section .collapsible .collapsible-header .row .col {
  padding: 0;
}

.faq-section .collapsible .collapsible-header i {
  text-align: right;
  margin-right: 0;
}

.faq-section .collapsible .collapsible-body {
  padding: 1rem 2rem 2rem 2rem;
  border: none;
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 0.03em;
}

.faq-section .collapsible .collapsible-body a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

.social-section .social-info-btn {
  padding: 2.5em;
  text-align: center;
  background: #b20030;
  width: 100%;
}

.social-section .social-info-btn .social-btn {
  border-radius: 15px;
  margin: 1em;
  padding: 1.7em;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  background: #b20030;
  box-shadow: 7px 7px 17px #990029, -7px -7px 17px #cb0037;
}

.social-section .social-info-btn .social-btn i {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  display: block;
  transition: all 0.1s ease-out;
}

.social-section .social-info-btn .social-btn:hover {
  color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: #b20030;
  box-shadow: inset 5px 5px 10px #9b002a, inset -5px -5px 10px #c90036;
}

.social-section .social-info-btn .social-btn:hover i {
  color: rgba(0, 0, 0, 0.5);
}

.footer-section .page-footer {
  background: transparent;
}

.footer-section .footer-background {
  padding: 2em 2.5em;
  position: relative;
  background: transparent;
}

.footer-section .footer-background::before {
  background-image: url(../assets/img/footer.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.footer-section .footer-background .row {
  position: relative;
  margin-bottom: 0;
  z-index: 9999;
}

.footer-section .page-footer .footer-copyright {
  padding: 1em 0;
  background: #181414;
  font-family: "Varela Round";
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
}

.footer-section .page-footer .footer-copyright i {
  height: 15px;
  width: 15px;
  color: #b20030;
  fill: #b20030;
  animation: beat 0.25s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}

.footer-section .page-footer a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer-section .page-footer a:hover {
  text-decoration: none;
  color: #fdb525 !important;
}

.footer-section .footer-first .footer-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
  background: #222;
  padding: 10px;
}

.footer-section .footer-first .footer-logo img {
  width: 100%;
  border-radius: 50%;
}

.footer-section .footer-first p {
  margin-top: 1em;
  font-family: "Poppins";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  width: 85%;
}

.footer-section .footer-first h5,
.footer-section .footer-second h5,
.footer-section .footer-third h5 {
  font-weight: bold;
  font-family: "Varela Round";
}

.footer-section .footer-second ul,
.footer-section .footer-third ul {
  font-family: "Poppins";
}

.footer-section .footer-second ul li {
  padding: 10px 0;
}

.footer-section .footer-second ul li a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7) !important;
  transition: all 0.2s ease-in-out;
}

.footer-section .footer-third .contact-us li {
  font-weight: bold;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer-section .footer-third .contact-us i {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 10px;
}

.footer-section .footer-third .social-media li {
  display: inline-block;
  margin-right: 15px;
}

.footer-section .footer-third .social-media li a {
  font-size: 2em;
  color: #b20030;
}
