@media (min-width: 1000px) {
  .navbar .brand-logo {
    display: none;
  }
}

@media (max-width: 999px) {
  .section-title .title-design-shape {
    width: 25%;
    height: 6px;
    background: linear-gradient(45deg, #b20030 0%, #8d0018 92%) !important;
    border-radius: 3px;
    display: block;
    margin: 2em auto;
    position: relative;
  }

  .navbar .brand-logo {
    margin-left: 10px;
    text-align: left;
    position: relative;
    left: 0;
    transform: translate(0);
    font-weight: 500;
    font-family: "Varela Round";
    font-size: 1.5em;
  }

  .home-section .home-background .home-info h1 {
    font-size: 2.8rem;
  }

  .home-section .home-background .home-info p {
    font-size: 0.8rem;
  }

  .counter-box {
    margin: 1em 0;
  }

  .team-section .row,
  .project-section .row {
    margin-bottom: 0;
  }

  .team-section .team-card,
  .project-section .project-card {
    margin: 1.5em 0;
  }

  .social-section .social-info-btn {
    padding: 0.5em;
  }

  .social-section .social-info-btn .social-btn {
    border-radius: 15px;
    margin: 1.5em 0.6em;
    padding: 1.5em;
  }

  .social-section .social-info-btn .social-btn i {
    font-size: 2.5rem;
  }
}
